.cd{
    background-color: #ffffff;
    border: none;
}

.cd-header{
    font-family: Inconsolata;
    font-size: 55px;
    color:blue;
    font-style: oblique;
    font-weight: bold;
}

.cd-sub-header{
    font-size: 20px;
}

.buy-now{
    background-color: black;
    border: none;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
}

.buy-now:hover{
    background-color: black;
}

.move {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    animation: imageChange 11s infinite steps(1,end);
}

@keyframes imageChange {
    0% {
        background-image: url("../assests/images/8b993b9f70a49b2698697943bde67498.jpg_720x720q80.jpg");
    }
    25% {
        background-image: url("../assests/images/image_17_f448a12e-b9fe-4777-ae14-725a5bacc5a3.png");
    }
    50% {
        background-image: url("../assests/images/istockphoto-1359180038-612x612.jpg");
    }
    75% {
        background-image: url("../assests/images/istockphoto-1359180038-612x612.jpg");
    }
    100% {
        background-image: url("../assests/images/xr5hb_512-removebg-preview.png");
    }
}
