

.cd{
    background-color: #ffffff;
    border: none;
}

.cd-header{
    font-family: Inconsolata;
    font-size: 55px;
    color:blue;
    font-style: oblique;
    font-weight: bold;
}

.cd-sub-header{
    font-size: 20px;
}

.buy-now{
    background-color: black;
    border: none;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
}

.buy-now:hover{
    background-color: black;
}

.homeImg{
    width: 450px;
}

