.cd{
    background-color: #ffffff;
    border: none;
}

.cd-header{
    font-family: Inconsolata;
    font-size: 55px;
    color:blue;
    font-style: oblique;
    font-weight: bold;
}

.cd-sub-header{
    font-size: 20px;
}

.buy-now{
    background-color: black;
    border: none;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
}

.buy-now:hover{
    background-color: black;
}

.move {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    animation: imageChange 8s infinite;
}

@keyframes imageChange {
    0% {
        background-image: url("../assests/images/cn-11134207-7r98o-lqehq537kvmgd1-removebg-preview.png");
    }
    33.33% {
        background-image: url("../assests/images/image_17_f448a12e-b9fe-4777-ae14-725a5bacc5a3.png");
    }
    66.66% {
        background-image: url("../assests/images/istockphoto-1359180038-612x612.jpg");
    }
    99.99% {
        background-image: url("../assests/images/cn-11134207-7r98o-lqehq537kvmgd1-removebg-preview.png");
    }
}
